<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard Alchemy Codes (june 2026) - Active Codes & Rewards</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>Wizard Alchemy Codes - Active Codes and Rewards</h2>

            <p>
                Last updated: june 2026.
            </p>

            <p>
                Codes are free rewards created by the game developers.
                These codes can grant coins, materials, potions, experience, and other important benefits to help you progress
                faster in <strong>Wizard Alchemy</strong>. 
            </p>

            <p>
                Codes usually appear during updates,
                special events, or when the game reaches a certain number
                of players or visits.
            </p>

            <h3>How to redeem codes?</h3>

            <p>
                To redeem codes, open the game settings
                by clicking the gear icon in the top right corner.
                Then find the codes section and enter the code exactly
                as it appears here.
            </p>

                <img src="{{ url_for('static', filename='images/guides/configuracion.png') }}" alt="">

            <h3>Available Codes</h3>

            <ul class="guide-list">

                <li><strong>17kCCU</strong> </li>

                <li><strong>SPELL</strong></li>

                <li><strong>20kMembers</strong></li>

                <li><strong>BREW</strong></li>

                <li><strong>QILIN</strong></li>

                <li><strong>MERCHANT</strong></li>

                <li><strong>100KMEMBERS!</strong></li>

            </ul>

            <h3>Important Tips</h3>

            <ul class="guide-list">

                <li>Codes may expire at any time.</li>

                <li>Enter the codes exactly as shown.</li>

                <li>Some codes only work once.</li>

                <li>Developers add new codes in updates.</li>

                <li>
                    Visit the official page for
                    <a href="https://www.roblox.com/es/games/118821269826806/Wizard-Alchemy"
                    target="_blank"
                    rel="noopener noreferrer">
                    Wizard Alchemy on Roblox
                    </a>
                    Here you can find the Discord server and join the community.
                </li>

            </ul>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>