<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard Alchemy Ashen Ruins Secret Chests Locations & Hidden Secrets</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">

</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>Wizard Alchemy Ashen Ruins Secret Chests & Hidden Secrets Guide</h2>

            <p>
                In this guide we'll show you all the secrets you can find in Wizard Alchemy maps: 
                <strong>chests, wands, flying brooms, hats, costumes, hidden enemies, and tricks.</strong> 
            </p>

        <table class="index-table">

            <tr>
                <th>index of chest and hidden secrets</th>
            </tr>

            <tr>
                <td><a href="#Ashen-Ruins-Secrets-Chests-Guide">Ashen Ruins Secrets Chests Guide</td>
            </tr>

            <tr>
                <td><a href="#All-Secret-Chests-Locations">All Secret Chests Locations</a></td>
            </tr>

            <tr>
                <td><a href="#rods-hat-broom">Rod, Hat and Broom in Ashen Ruins</a></td>
            </tr>

            <tr>
                <td><a href="#others">Others Hidden Secrets in Ashen Ruins - Wizard Alchemy</a></td>
            </tr>

        </table>

            <h3 id="Ashen-Ruins-Secrets-Chests-Guide">Ashen Ruins Secrets & Chests Guide</h3>

            <h4 id="All-Secret-Chests-Locations">All Secret Chests Locations</h4>

            <p>
                Each of the secrets on this island is very beneficial to the adventure, 
                as the chests give a large amount of materials, which help in the creation of potions.
            </p>

            <p>
                You will find two types of chests: one is the normal chest that drops normal materials, 
                and then we have chests that give us <strong>better materials</strong>.
            </p>

                <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/cofre1.1.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/cofre-poder.png') }}" loading="lazy" alt="">

                </div>

            <ul class="guide-list">

                <li>
                    <strong>Chests #1</strong>

                    <p>
                        This chest is located up on a hill near the spawn point; this chest is the closest and easiest to find if you're curious.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre1.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #2</strong>

                    <p>
                        This chest is located by the main entrance to enter the cave where the boss is located; 
                        on the right side there is a bridge with an archer protecting it at the bottom.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre2.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #3</strong>

                    <p>
                        This chest is located above where you can buy the hat, after the chest on the bridge, it's on the right side,
                        that's where you'll find it.
                    </p>

                     <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre3.1.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre3.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #4</strong>

                    <p>
                        It is located directly below where we found the previous one; 
                        we will find a lava waterfall and this chest is right next to the hat that we can buy.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cascada1.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre4.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #5</strong>

                    <p>
                        This chest is located at the very top of the volcano, right next to the best wand on the map.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre5.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #6</strong>

                    <p>
                        This chest is one of the most hidden; it is located behind the volcano inside the final boss's cave.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre6.1.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre6.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #7</strong>

                    <p>
                        This chest is on the other side of the island; you enter it through a small cave.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre7.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #8</strong>

                    <p>
                        It is located above the water island, where there is a waterfall, and is very visible to the eye.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre8.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #9 #10</strong>

                    <p>
                        This is located behind the waterfall; in this area you will find two hidden chests, a very good area to collect materials.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre9.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre10.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #11 #12 #13 #14</strong>

                    <p>
                        These four chests are located on a small, secluded island; you have to fly with the broom to reach them.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre10.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre11.png') }}" loading="lazy" alt="">

                    </div>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre12.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/cofre-poder.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #15</strong>

                    <p>
                        This last chest is the furthest away; it is located on a separate island.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre15.png') }}" loading="lazy" alt="">
                </li>

                <li>
                    <strong>Chests #16</strong>

                    <p>
                        This last chest is the furthest away; it is located on a separate island.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre16.png') }}" loading="lazy" alt="">
                </li>

            </ul>

            <h3 id="rods-hat-broom">Rod, Hat and Broom in Ashen Ruins</h3>

            <ul class="guide-list">

                <li>
                    <strong>Secret Rod</strong>

                    <p>
                        This wand is located above the volcano; it is the best on the entire map, 
                        very powerful and ready for the next world.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre5.png') }}" loading="lazy" alt="">

                    <p>
                        The stats of this wand are high, but the price is very high, but it's worth it.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/vara1.png') }}" loading="lazy" alt="">

                </li>

                <li>
                    <strong>Wizard broom</strong>

                    <p>
                        The broom is found at the spawn point; it is the specific broom for this world and is very fast with very good stats.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/escoba1.png') }}" loading="lazy" alt="">

                    <div class="guide-images-small">

                        <img src="{{ url_for('static', filename='images/chests/chests-ashen/escoba2.png') }}" loading="lazy" alt="">

                        <img src="{{ url_for('static', filename='images/chests/chests-ashen/escoba3.png') }}" loading="lazy" alt="">

                    </div>

                </li>

                <li>
                    <strong>Wizard Hat</strong>

                    <p>
                        This hat is hidden behind the lava waterfall.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cascada1.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/cofre4.png') }}" loading="lazy" alt="">

                    </div>

                    <p>
                        This hat has something different: the damage from burning is very low.
                    </p>

                    <div class="guide-images-small">

                        <img src="{{ url_for('static', filename='images/chests/chests-ashen/sombrero.png') }}" loading="lazy" alt="">

                    </div>

                </li>
                <h3 id="others">Others Hidden Secrets in Ashen Ruins - Wizard Alchemy</h3>

                <li>
                    <strong>Others #1</strong>

                    <p>
                        This material is very precious; the plant has a lot of life and is recommended by many people.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/otro1.png') }}" loading="lazy" alt="">

                </li>

                <li>
                    <strong>Others #2</strong>

                    <p>
                        This material isn't that interesting, but as a curiosity about the map it's very good.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/chests-ashen/otro2.png') }}" loading="lazy" alt="">
                </li>

            </ul>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>