<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard Alchemy Departure Isle Secret Chests Locations & Hidden Secrets</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">

</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>Wizard Alchemy Departure Isle Secret Chests Locations & Hidden Secrets</h2>

            <p>
                In this guide we'll show you all the secrets you can find in Wizard Alchemy maps: 
                <strong>chests, wands, flying brooms, hats, costumes, hidden enemies, and tricks.</strong> 
            </p>

        <table class="index-table">

            <tr>
                <th>index of chest and hidden secrets</th>
            </tr>

            <tr>
                <td><a href="#Departure-Isle-Secrets-Chests-Guide">Departure Isle Secrets & Chests Guide</a></td>
            </tr>

            <tr>
                <td><a href="#All-Secret-Chests-Locations">All Secret Chests Locations</a></td>
            </tr>

            <tr>
                <td><a href="#rods-broom">All Rods and Brooms in Departure Isle</a></td>
            </tr>

            <tr>
                <td><a href="#others">Other Hidden Secrets in Departure Isle - Wizard Alchemy</a></td>
            </tr>

        </table>

            <h3 id="Departure-Isle-Secrets-Chests-Guide">Departure Isle Secrets & Chests Guide</h3>

            <h4 id="All-Secret-Chests-Locations">All Secret Chests Locations</h4>

            <p>
                Each of the secrets on this island is very beneficial to the adventure, 
                as the chests give a large amount of materials, which help in the creation of potions.
            </p>

            <p>
                You will find two types of chests: one is the normal chest that drops normal materials, 
                and then we have chests that give us <strong>better materials</strong>.
            </p>

                <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/cofre1.1.png') }}" alt="">

                    <img src="{{ url_for('static', filename='images/chests/cofre-poder.png') }}" alt="">

                </div>

            <ul class="guide-list">

                <li>
                    <strong>Chests #1</strong>

                    <p>
                        The first chest is located behind the spawn point; this will be a chest that can easily go unnoticed.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre1.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #2</strong>

                    <p>
                        The second chest is very easy to find; you come across it during the adventure, it's not very well hidden.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre2.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #3</strong>

                    <p>
                        The third chest is a little hidden, but if you're a curious person you've probably found it, 
                        as it's behind a half-finished building next to the miner.
                    </p>

                     <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/cofre3.1.png') }}" alt="">

                    <img src="{{ url_for('static', filename='images/chests/cofre3.png') }}" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #4</strong>

                    <p>
                        The fourth chest is a little more hidden than the previous one, 
                        as it is located in a secret passage in the same cave where we found the third chest; the passage is next to the chest.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/cofre3.png') }}" alt="">

                    <img src="{{ url_for('static', filename='images/chests/cofre4.png') }}" alt="">

                    </div>

                </li>

                <li>
                    <strong>Chests #5</strong>

                    <p>
                        Chest 5 is above the cave where we found the previous two chests; in this area we found a total of 3 chests.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre5.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #6</strong>

                    <p>
                        Chest 6 is located behind the camp of the traveler who sells us the cauldron that helps us advance in the adventure.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre6.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #7</strong>

                    <p>
                        Chest 7 is located on the right path; you will encounter a camp of enemies, and behind them you will find the chest.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre7.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #8</strong>

                    <p>
                        Chest 8 is located in the tree house; it's a tree that's easily visible, it's very large, you can climb it with a broom or by climbing.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre8.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #9</strong>

                    <p>
                        Chest 9 is very well hidden; it's behind the whole mountain on the right side of the lighthouse.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre9.png') }}" alt="">
                </li>

                <li>
                    <strong>Chests #10</strong>

                    <p>
                        Chest 10 is located behind the final boss of the island, behind a structure located in the boss cave.
                    </p>

                     <img src="{{ url_for('static', filename='images/chests/cofre10.png') }}" alt="">
                </li>

            </ul>

            <h3 id="rods-broom">All Rods and Brooms in Departure Isle</h3>

            <ul class="guide-list">

                <li>
                    <strong>Secret Rod #1</strong>

                    <p>
                        The first rod is located behind a waterfall next to the spawn.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/vara1.1.png') }}" alt="">

                    <p>
                        This wand is very good, it has very good stats and is aesthetically very beautiful, very useful for adventure.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/vara1.2.png') }}" alt="">

                    <img src="{{ url_for('static', filename='images/chests/vara1.png') }}" alt="">

                    </div>

                </li>

                <li>
                    <strong>Secret Rod #2</strong>

                    <p>
                        This stick is located in the tree house; you can reach it by using a broom or by climbing.
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/chests/vara2.1.png') }}" alt="">

                    <img src="{{ url_for('static', filename='images/chests/vara2.png') }}" alt="">

                    </div>

                    <p>
                        This staff is the best in the first world with the best stats, recommended for the adventure and for the next world.
                    </p>
                </li>

                <li>
                    <strong>broom</strong>

                    <p>
                        This is the starting broom; this broom will help you a lot on your adventure, it will be very useful.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/escoba.png') }}" alt="">
                </li>

                <h3 id="others">Other Hidden Secrets in Departure Isle - Wizard Alchemy</h3>

                <li>
                    <strong>Others #1</strong>

                    <p>
                        This is a very useful bush at the beginning of the game because it gives you many materials to make potions or sell potions,
                        it gives you the lowest material.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/otro1.png') }}" alt="">
                </li>

                <li>
                    <strong>Others #2</strong>

                    <p>
                        This is a very useful bush at the beginning of the game as it gives you many materials to make potions or sell potions; 
                        it gives you the second lowest material.
                    </p>

                    <img src="{{ url_for('static', filename='images/chests/otro2.png') }}" alt="">
                </li>

            </ul>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>