<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard Alchemy Enchantments Guide & How to Get Them</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">
</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        

        <div class="guide-content">

            <h2>Wizard Alchemy Enchantments Guide & How to Get Them</h2>

            <p>
                Here we'll explain everything you need to know about wand enchantments in Wizard Alchemy. 
                We have several stats you can increase, with high and low levels for each.
            </p>

        <h3>index of Enchantments</h3>

        <table class="index-table">

            <tr>
                <th>Enchantments</th>
            </tr>

            <tr>
                <td><a href="#area">How to Reach the Enchanting Area in Wizard Alchemy</a></td>
            </tr>

            <tr>
                <td><a href="#stone">How to Get Enchanted Stone in Wizard Alchemy</a></td>
            </tr>

            <tr>
                <td><a href="#all">All Wizard Alchemy Enchantments Guide</a></td>
            </tr>

            <tr>
                <td><a href="#tips">Important Wizard Alchemy Enchantment Tips</a></td>
            </tr>

        </table>

            <h3 id="area">How to Reach the Enchanting Area in Wizard Alchemy</h3>

            <p>
                First we must go to Ashen Ruins, which is the second island. You need the flying broom because this island is separate from the main one.
            </p>

                <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/enchantments/isla.png') }}" loading="lazy" alt="">

                    <img src="{{ url_for('static', filename='images/enchantments/isla2.png') }}" loading="lazy" alt="">

                </div>

            <p>
                When you are about to arrive you will clearly see the area where you can enchant; 
                it is a purple monument, curiously it is on the same island as the mage boss.
            </p>

            <h3 id="stone">How to Get Enchanted Stone in Wizard Alchemy</h3>

            <p>
                This material is essential to enchant all your wands; without it you cannot enchant. 
                You only need one for each change to the wand.
            </p>

            <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Enchanted Stone
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/enchantments/stone.png') }}" loading="lazy" alt="">

                            <h4>Enchanted Stone</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The origin is inknown. It seems to possess mysterious Powers.So far, 
                                no wizard has been able to fully uncover its secrets.
                            </p>

                        </td>

                    </tr>

                </table>

                    <h4>Where can I get them?</h4>
                
                <p>
                    These materials are obtained by killing these enemies respectively:
                </p>

                    <div class="guide-images-small">

                        <img src="{{ url_for('static', filename='images/materials/enemies/enemies12.png') }}" loading="lazy" alt="Healing Potion">
                        <img src="{{ url_for('static', filename='images/materials/enemies/enemies13.png') }}" loading="lazy" alt="Healing Potion">
                        <img src="{{ url_for('static', filename='images/materials/enemies/enemies14.png') }}" loading="lazy" alt="Healing Potion">

                </div>

            <h3 id="all">All Wizard Alchemy Enchantments Guide</h3>

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Critical Hit</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Critical Hit I: probability of critical 5% <br>
                                Critical Hit II: probability of critical 10% <br>
                                Critical Hit III: probability of critical 15% <br>
                                Critical Hit IV: probability of critical 20% <br>
                                Critical Hit V: probability of critical 25%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the probability of critical damage and thus helps you kill your enemies faster.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/critical.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Magic</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Magic I: Attack Boost 2% <br>
                                Magic II: Attack Boost 4% <br>
                                Magic III: Attack Boost 6% <br>
                                Magic IV: Attack Boost 8% <br>
                                Magic V: Attack Boost 10%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the probability of critical damage and thus helps you kill your enemies faster.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/magic.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Thunder</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Thunder I: Thunder Damage Boost 4% <br>
                                Thunder II: Thunder Damage Boost 8% <br>
                                Thunder III: Thunder Damage Boost 12% <br>
                                Thunder IV: Thunder Damage Boost 16% <br>
                                Thunder V: Thunder Damage Boost 20%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the damage of electric spells, highly recommended if you use these attacks a lot.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/thunder.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Swift</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Swift I: Movement Speed Bonus 5% <br>
                                Swift II: Movement Speed Bonus 10% <br>
                                Swift III: Movement Speed Bonus 15% <br>
                                Swift IV: Movement Speed Bonus 20% <br>
                                Swift V: Movement Speed Bonus 25%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment lowers the cooldown of your spells, meaning you'll attack much faster with spells because they charge much faster.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/swift.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Luck</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Luck I: Alchemy Luck Boost 10% <br>
                                Luck II: Alchemy Luck Boost 20% <br>
                                Luck III: Alchemy Luck Boost 30% <br>
                                Luck IV: Alchemy Luck Boost 40% <br>
                                Luck V: Alchemy Luck Boost 50%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases luck when killing enemies or making potions, increasing the probability with items and potions.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/luck.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Fatal</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Fatal I: Critical Damage 5% <br>
                                Fatal II: Critical Damage 10% <br>
                                Fatal III: Critical Damage 15% <br>
                                Fatal IV: Critical Damage 20% <br>
                                Fatal V: Critical Damage 25%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases your critical damage stat, meaning that when you land a critical hit it will cause much more damage.
                            </p>

                        </td>

                    </tr>

                </table>

                <img src="{{ url_for('static', filename='images/enchantments/fatal.png') }}" loading="lazy" alt="">

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Cold</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Blazing Fire I: Fire Damage Boost 8% <br>
                                Blazing Fire II: Fire Damage Boost 16% <br>
                                Blazing Fire III: Fire Damage Boost 24% <br>
                                Blazing Fire IV: Fire Damage Boost 32% <br>
                                Blazing Fire V: Fire Damage Boost 40%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the damage of ice spells, which is very good if you use this type of spell a lot.
                            </p>

                        </td>

                    </tr>

                </table>

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Holy Light</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Holy Light I: Light Damage Boost 4% <br>
                                Holy Light II: Light Damage Boost 8% <br>
                                Holy Light III: Light Damage Boost 12% <br>
                                Holy Light IV: Light Damage Boost 16% <br>
                                Holy Light V: Light Damage Boost 20%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the damage of light spells; it's not used much, but if it helps you, you can use it.
                            </p>

                        </td>

                    </tr>

                </table>

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Tides</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Tides I: Water Damage Boost 4% <br>
                                Tides II: Water Damage Boost 8% <br>
                                Tides III: Water Damage Boost 12% <br>
                                Tides IV: Water Damage Boost 16% <br>
                                Tides V: Water Damage Boost 20%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the damage of water spells.
                            </p>

                        </td>

                    </tr>

                </table>

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Ice</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p>
                                Ice I: Ice Damage Boost 4% <br>
                                Ice II: Ice Damage Boost 8% <br>
                                Ice III: Ice Damage Boost 12% <br>
                                Ice IV: Ice Damage Boost 16% <br>
                                Ice V: Ice Damage Boost 20%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment increases the damage of ice spells.
                            </p>

                        </td>

                    </tr>

                </table>

                <table class="potion-table">

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <h4>Staying Calm</h4>

                        </td>

                        <td>

                            <strong>improvements:</strong>

                            <p> 
                                Staying Calm I: Cooling Shrinkage 10% <br>
                                Staying Calm II: Cooling Shrinkage 20% <br>
                                Staying Calm III: Cooling Shrinkage 30% <br>
                                Staying Calm IV: Cooling Shrinkage 40% <br>
                                Staying Calm V: Cooling Shrinkage 50%
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                This enchantment means you can use spells much faster; you have less cooldown on each of your spells.
                            </p>

                        </td>

                    </tr>

                </table>

            </ul>

            <h3 id="tips">Important Wizard Alchemy Enchantment Tips</h3>

            <ul class="guide-list">

                <li>You can find the enchanted stone in your inventory.</li>

                <img src="{{ url_for('static', filename='images/enchantments/bag.png') }}" loading="lazy" alt="">

                <li>You can tell which enchantment you got depending on the color of the glow that is visible to the naked eye.</li>

                <img src="{{ url_for('static', filename='images/enchantments/color.png') }}" loading="lazy" alt="">

                <li>You can enchant as many wands as you want, and you can also view the enchantment in your inventory.</li>

                <div class="guide-images-small">

                        <img src="{{ url_for('static', filename='images/enchantments/var1.png') }}" loading="lazy" alt="">
                        <img src="{{ url_for('static', filename='images/enchantments/var2.png') }}" loading="lazy" alt="">
                        <img src="{{ url_for('static', filename='images/enchantments/var3.png') }}" loading="lazy" alt="">
                        <img src="{{ url_for('static', filename='images/enchantments/var4.png') }}" loading="lazy" alt="">
                        <img src="{{ url_for('static', filename='images/enchantments/var5.png') }}" loading="lazy" alt="">

                </div>

            </ul>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>