<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Spirit of Nature Event Gear in Wizard Alchemy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">
</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>All Spirit of Nature Event Gear in Wizard Alchemy</h2>

            <p>
                You can buy almost all the <Strong>equipment</Strong> for the new event on the corresponding event island.
            </p>

            <img src="{{ url_for('static', filename='images/spirit/isla.png') }}" loading="lazy" alt="">

            <h3>All Spirit of Nature Event Equipment</h3>

            <section id="tree">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Wings Of Tree God
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/tree.png') }}" loading="lazy" alt="">

                            <h4>Wings Of Tree God</h4>

                        </td>

                        <td>

                            <strong>Attack:</strong>

                            <p>
                                30
                            </p>

                            <strong>Summoned Creature Attack:</strong>

                            <p>
                                20%
                            </p>

                            <strong>Summoned Creature Duration Boost</strong>

                            <p>
                                20%
                            </p>


                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The staff that draws upon the power of the tree god, allows its bearer ti resonate with the forest.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="spirit">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Spirit Of Nature
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/spirit.png') }}" loading="lazy" alt="">

                            <h4>Spirit Of Nature</h4>

                        </td>

                        <td>

                            <strong>Hp:</strong>

                            <p>
                                60
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                A Druid's robe woven from plants and branches, bears the blessings of the forest.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="golden">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Golden Dreams
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/golden.png') }}" loading="lazy" alt="">

                            <h4>Golden Dreams</h4>

                        </td>

                        <td>

                            <strong>Hp:</strong>

                            <p>
                                60
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Cosy and cute, it holds sweet Golden dreams.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="nature">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Spirit Of Nature
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/nature.png') }}" loading="lazy" alt="">

                            <h4>Spirit Of Nature</h4>

                        </td>

                        <td>

                            <strong>Hp:</strong>

                            <p>
                                40
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Forged from power of nature, it resonantes with all things.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="cauldron">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Greenwood Cauldron
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/cauldron.png') }}" loading="lazy" alt="">

                            <h4>Greenwood Cauldron</h4>

                        </td>

                        <td>

                            <strong>Alchemy Luck Boost:</strong>

                            <p>
                                20%
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The cauldron, crafted by the druid himself, exides a rich herbal scent.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="broom">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            The Gift Of The Tree God Broom
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/broom.png') }}" loading="lazy" alt="">

                            <h4>The Gift Of The Tree God Broom</h4>

                        </td>

                        <td>

                            <strong>Acceleration:</strong>

                            <p>
                                40
                            </p>

                            <strong>Steering Angular Velocity:</strong>

                            <p>
                                95
                            </p>

                            <strong>Broom Max Speed:</strong>

                            <p>
                                50
                            </p>

                            <strong>Corner Limit:</strong>

                            <p>
                                55
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The magical broom, woven from Wood and vines,is a gift from the tree god of travellers.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <h3>How to Get All Equipment in Wizard Alchemy</h3>

            <p>
                To get all the equipment you must enter the event store; you have to use the event currency to buy them.
            </p>

            <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/shop.png') }}" loading="lazy" alt="">
                    <img src="{{ url_for('static', filename='images/spirit/daily.png') }}" loading="lazy" alt="">

            </div>

            <p>
                These equipment items are a little harder to obtain since you have to log into the game for 7 consecutive days to get them.
            </p>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>