<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="f4jaD1HYkxO899WE9VH4OOFu1IWd9AafGTgEp5kCilA" />
    <title>RankForge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

     {% include 'components/navbar.html' %}

    <section class="hero">

        <h1>Gaming Guides, Builds & Secrets</h1>

        <p>
            Discover maps, chest locations, secrets, tier lists and strategies.
        </p>

        <a href="#games-section" class="explore-btn">
            Explore Guides
        </a>

    </section>
    <section class="games" id="games-section">

        <h2>Featured Games</h2>

        <div class="slider">

    <button class="arrow">❮</button>

    <div class="cards-wrapper">

        <div class="game-card">

            <img src="{{ url_for('static', filename='images/index/wizard.jpg') }}" alt="Wizard Alchemy">

            <div class="card-content">

                <h3>Wizard Alchemy</h3>

                <p>Explore guides, chest locations and secrets.</p>

                <a href="/guides-wizard" class="view-btn">See more</a>

            </div>

        </div>

        <div class="game-card coming">

            <div class="coming-content">

                <h3>Coming Soon</h3>

                <p>More games will arrive soon.</p>

                <button class="view-btn">See more</button>

            </div>

        </div>

    </div>

    <button class="arrow">❯</button>

    </div>
    </section>

    {% include 'components/footer.html' %}


</body>
</html>