<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Spirit of Nature Event Materials and Enemies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">
</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h3>index of Materials</h3>

        <table class="index-table">

            <tr>
                <th>Searches</th>
            </tr>

            <tr>
                <td><a href="#all">All Spirit of Nature Event Materials and Enemies</a></td>
            </tr>

            <tr>
                <td><a href="#sharp">How to Get Sharp Fang in Wizard Alchemy</a></td>
            </tr>

            <tr>
                <td><a href="#stone">How to Get Eye Of Stone in Wizard Alchemy</a></td>
            </tr>

            <tr>
                <td><a href="#jaws">How to Get Terrifuing Jaws in Wizard Alchemy</a></td>
            </tr>

            <tr>
                <td><a href="#legendary">How to Get Legendary Materials in Event Spirit Nature</a></td>
            </tr>

        </table>

            <h2 id="all">All Spirit of Nature Event Materials and Enemies</h2>


            <p>
                These materials are very important in order to obtain the summoning potions for the event.
            </p>

            <section id="sharp">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Sharp Fangs
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/sharp.png') }}" loading="lazy" alt="">

                            <h4>Sharp Fangs</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                5
                            </p>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Thick and Sharp, with a foulm fishy smell.
                            </p>

                        </td>

                    </tr>

                </table>

                    <h4 id="sharp">How to Get Sharp Fang in Wizard Alchemy</h4>

                    <p>
                        This material is very easy to find but is rather useless for potions; you can find it here:
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/bear.png') }}" loading="lazy" alt="Healing Potion">

                    </div>

            </section>

            <section id="eye">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Eye Of Stone
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/eye.png') }}" loading="lazy" alt="">

                            <h4>Eye Of Stone</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                10
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The magic crustals of the stone spirit, give off a faint, dusky blue glow.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4 id="stone">How to Get Eye Of Stone in Wizard Alchemy</h4>

                    <p>
                        This material is very easy to find but is rather useless for potions; you can find it here:
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/stone.png') }}" loading="lazy" alt="Healing Potion">

                    </div>

            </section>

            <section id="jaws">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Terrifuing Jaws
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/laws.png') }}" loading="lazy" alt="">

                            <h4>Terrifuing Jaws</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                16
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The edges of the ant's robust mouthparts glinted with a metallie sheen.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4 id="jaws">How to Get Terrifuing Jaws in Wizard Alchemy</h4>

                    <p>
                        This material is very easy to find but is rather useless for potions; you can find it here:
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/ants.png') }}" loading="lazy" alt="Healing Potion">

                    </div>

            </section>

            <section id="wraith">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Tree Wraith
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/wraith.png') }}" loading="lazy" alt="">

                            <h4>Tree Wraith</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                20
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Holding the natural spiritual energy of the tree spirit.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4 id="warith">How to Get Tree Wraith in Wizard Alchemy</h4>

                    <p>
                        This material is very easy to find but is rather useless for potions; you can find it here:
                    </p>

                    <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/tree.spirit.png') }}" loading="lazy" alt="Healing Potion">

                    </div>

            </section>

            <section id="egg">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Ancient Dragón Egg
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/egg.png') }}" loading="lazy" alt="">

                            <h4>Ancient Dragón Egg</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                150
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Extremely rare, hard to come by, truly priceless.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <section id="qilin">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Qilin Horn
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/spirit/materials/horn.png') }}" loading="lazy" alt="">

                            <h4>Qilin Horn</h4>

                        </td>

                        <td>

                            <strong>Magic Power:</strong>

                            <p>
                                200
                            </p>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                A complete qilin horn is a treasure every wizard covets.
                            </p>

                        </td>

                    </tr>

                </table>

            </section>

            <h3 id="legendary">How to Get Legendary Materials in Event Spirit Nature</h3>

            <p>
                You have to go to the specific location where each of the enemies is located; the locations are:
            </p>

            <h4>Ancient Dragon</h4>

            <p>
               This dragon is located on an island far from the main island; you can get there very quickly. It's between these two islands: 
            </p>

            <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/dragon1.png') }}" loading="lazy" alt="">
                    <img src="{{ url_for('static', filename='images/spirit/enemies/dragon2.png') }}" loading="lazy" alt="">

            </div>

            <p>
                When you defeat the dragon in the index, the dragon will appear as discovered.
            </p>

            <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/ancient.png') }}" loading="lazy" alt="">
 
            </div>

            <h4>Qilin</h4>

            <p>
               This <strong>Qilin</strong>is located on an island far from the main island; you can get there very quickly. It's between these two islands: 
            </p>

            <div class="guide-images">

                    <img src="{{ url_for('static', filename='images/spirit/enemies/qilin1.png') }}" loading="lazy" alt="">
                    <img src="{{ url_for('static', filename='images/spirit/enemies/qilin2.png') }}" loading="lazy" alt="">

            </div>

            <p>
                When you defeat the <strong>Qilin</strong> in the index, the Qilin will appear as discovered.
            </p>

            <div class="guide-images">

                <img src="{{ url_for('static', filename='images/spirit/enemies/qilin.png') }}" loading="lazy" alt="">
 
            </div>

            <p>
              You can also enter the event store to get these materials, using the official event currency.  
            </p>

            <img src="{{ url_for('static', filename='images/spirit/shop2.png') }}" loading="lazy" alt="">

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>