<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Wizard Alchemy Potions and Effects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">

</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>All Wizard Alchemy Potions (Ashen Ruins)</h2>

            <p>
                First, you must go to the potion-making area to be able to make each of the potions you need. 
                Keep in mind that the potion you want <strong>is not guaranteed</strong> due to the creation percentages.
            </p>

            <img src="{{ url_for('static', filename='images/guides/pociones-hub.png') }}" alt="">

            <p>
                Green circles appear indicating a higher percentage of potion crafting; 
                these help us obtain the most difficult potions and have a lower percentage.
            </p>

            <img src="{{ url_for('static', filename='images/potions/zona-verde.png') }}" alt="">

            <p>
                To use these green areas you need the cauldron that the traveler sells you at a camp you find during your adventure.
            </p>

            <img src="{{ url_for('static', filename='images/potions/viajero.png') }}" alt="">

        <h3>index of potions</h3>

        <table class="index-table">

            <tr>
                <th>Potions</th>
            </tr>

            <tr>
                <td><a href="#thunder-strike-potion">Thunder Strike Potion</a></td>
            </tr>

            <tr>
                <td><a href="#wood-splinter-potion">Wood Splinter Potion</a></td>
            </tr>

            <tr>
                <td><a href="#twisting-potion">Twisting Potion</a></td>
            </tr>

            <tr>
                <td><a href="#twin-currents-potion">Twin Currents Potion</a></td>
            </tr>

            <tr>
                <td><a href="#wood-thorn-potion">Wood Thorn Potion</a></td>
            </tr>

            <tr>
                <td><a href="#thunder-ball-potion">Thunder Ball Potion</a></td>
            </tr>

            <tr>
                <td><a href="#bolide potion">Bolide Potion</a></td>
            </tr>

            <tr>
                <td><a href="#thunder-revenge-potion">Thunder Revenge Potion</a></td>
            </tr>

            <tr>
                <td><a href="#incendies-potion">Incendies Potion</a></td>
            </tr>

            <tr>
                <td><a href="#molten-core-potion">Molten Core Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Solar-Frame-Potion">Solar Frame Potion</a></td>
            </tr>

        </table>

            <h3>All Potions</h3>

            <section id="thunder-strike-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Thunder Strike Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/strike.png') }}" alt="Healing Potion">

                            <h4>Thunder Strike Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                There is and electric current surging in the bottle.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Thunder Strike Potion Good to Use?</h4>

                    <p>
                       This potion is not recommended since we come from the other world with better potions, but it is useful for discovering all the potions.
                    </p>

            </section>

            <section id="wood-splinter-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Wood Splinter Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/splinter.png') }}" alt="Healing Potion">

                            <h4>Wood Splinter Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                It is not recommended to take large doses. Be careful not to choke your throat.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Wood Splinter Potion Good to Use?</h4>

                    <p>
                        This potion is simple: place wood chips on the floor. Using it against the enemy is not recommended since we have better potions.
                    </p>

            </section>

            <h3>Uncommun potions</h3>

            <section id="twisting-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Twisting Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/twisting.png') }}" alt="Healing Potion">

                            <h4>Twisting Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The textura is thick and sticky. It is said that it can be used as glue.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Rock Blast Potion Good to Use?</h4>

                    <p>
                        This potion is good, it does uncommon damage but for now it doesn't surpass the ones you can get in the previous world.
                    </p>

            </section>

            <section id="twin-currents-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Twin Currents Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/twin.png') }}" alt="Healing Potion">

                            <h4>Twin Currents Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                It is recommended to drink while wearing insulated clothing.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Twin Currents Potion Good to Use?</h4>

                    <p>
                        This potion is good, it does uncommon damage but for now it doesn't surpass the ones you can get in the previous world.
                    </p>

            </section>

            <section id="Wood-thorn-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Wood Thorn Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/wood.png') }}" alt="Healing Potion">

                            <h4>Wood Thorn Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Mixed with florarl fragrance, adding ice cuber makes it a refreshing summer drink!
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Wood Thorn Potion Good to Use?</h4>

                    <p>
                        It's a very good potion; we're now entering the realm of excellent potions. It's not the best of the rare ones, but it's very useful.
                    </p>

            </section>

            <h3>Rare Potions</h3>

            <section id="thunder-ball-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Thunder Ball Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/ball.png') }}" alt="Healing Potion">

                            <h4>Thunder Ball Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                It is said that when you cannot defeat the Monster, you can throw it away to escape
                                bolide potion Extremely spicy,after taking it your throat Will burn.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Thunder Ball Potion Good to Use?</h4>

                    <p>
                        This potion is very good, it has a very short cooldown and deals a lot of damage; highly recommended for the adventure.
                    </p>

            </section>

            <section id="bolide-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Bolide Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/bolide.png') }}" alt="Healing Potion">

                            <h4>Bolide Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Extremely spicy, after taking it, your throat will burn.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Bolide Potion Good to Use?</h4>

                    <p>
                        Fire potion is very good, now we're talking about changes in the potions on the other island.
                    </p>

            </section>

            <h3>Epic Potions</h3>

            <section id="thunder-revenge-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Thunder Revenge Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/revenge.png') }}" alt="Healing Potion">

                            <h4>Thunder Revenge Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The potion that existed only in ancient book made countless wizards give up in the fase of difiiculty
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Thunder Revenge Potion Good to Use?</h4>

                    <p>
                        It's the best electric potion, it has a very short cooldown and deals area damage, highly recommended for this island.
                    </p>

            </section>

            <section id="incendies-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Incendies Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/incendies.png') }}" alt="Healing Potion">

                            <h4>Incendies Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                It is said that the probability of dying from excessive spiciness after drinking is 12.1%. 
                                Please carefully consider whether to take it.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Incendies Potion Good to Use?</h4>

                    <p>
                        This potion is also very good if you want to do a lot of damage to a single enemy; it creates several fire explosions.
                    </p>

            </section>

            <h3>Legendary Potion</h3>

            <section id="molten-core-potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Molten Core Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/molten.png') }}" alt="Healing Potion">

                            <h4>Molten Core Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                None
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Molten Core Potion Good to Use?</h4>

                    <p>
                        None
                    </p>

            </section>

            <section id="Solar-Frame-Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Solar Frame Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/potions-ashen/solar.png') }}" alt="Healing Potion">

                            <h4>Solar Frame Potion</h4>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                None
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Molten Core Potion Good to Use?</h4>

                    <p>
                        None
                    </p>

            </section>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>