<aside class="guide-sidebar">

    <h3>Guides</h3>

    <a href="/guides-wizard">Beginner's Guide</a>

    <a href="/codes-wizard">Active codes</a>

    <button class="dropdown-btn dropdown-main">
        Potions ▼
    </button>

    <div class="submenu">

        <a href="/pociones-departure-isle">
            Potions Departure ISL 
        </a>

        <a href="/pociones-ashen-ruins">
            Potions Ashen Ruins
        </a>

    </div>

    <button class="dropdown-btn dropdown-main">
    Materials and Enemies▼
    </button>

    <div class="submenu">

        <a href="/materiales-departure-isle">
            Materials and Enemies Departure ISL
        </a>

        <a href="/materiales-ashen-ruins">
            Materials and Enemies Ashen Ruins
        </a>

    </div>

    <button class="dropdown-btn dropdown-main">
    Secrets and Chests ▼
    </button>

    <div class="submenu">

        <a href="/cofres-secretos">
            Departure Isle
        </a>

        <a href="/cofres-secretos-ashen-ruins">
            Ashen Ruins
        </a>

    </div>

    <a href="/enchantments">Enchantments</a>

    <button class="dropdown-btn dropdown-main">
    Events ▼
    </button>

    <div class="submenu">

        <button class="dropdown-btn dropdown-main">
        Spirit Of Nature ▼
        </button>

        <div class="submenu">

            <a href="/event-gear">
               All Spirit of Nature Event Gear
            </a>

            <a href="/materials-spirit">
               All Spirit of Nature Event Materials and Enemies
            </a>
        </div>
    </div>

</aside>