<aside class="guide-sidebar">

    <h3>Guías</h3>

    <a href="/guides-wizard">Guía para Principiantes</a>

    <a href="/codes-wizard">Códigos activos</a>

    <button class="dropdown-btn dropdown-main">
        Pociones ▼
    </button>

    <div class="submenu">

        <a href="/pociones-departure-isle">
            Potions Departure ISL 
        </a>

        <a href="#">
            Potions Ashen Ruins
        </a>

    </div>

    <button class="dropdown-btn dropdown-main">
    Materiales ▼
    </button>

    <div class="submenu">

        <a href="#">
            Materiales Departure ISL
        </a>

        <a href="#">
            Materiales Ashen Ruins
        </a>

    </div>

    <button class="dropdown-btn dropdown-main">
    Secretos y Cofres ▼
    </button>

    <div class="submenu">

        <a href="/cofres-secretos">
            Departure Isle
        </a>

        <a href="/cofres-secretos-ashen-ruins">
            Ashen Ruins
        </a>

    </div>

    <button class="dropdown-btn dropdown-main">
    Guia de enemigos ▼
    </button>

    <div class="submenu">

        <a href="#">
            Enemigos Departure ISL
        </a>

        <a href="#">
            Enemigos Ashen Ruins
        </a>

    </div>

    <a href="#">Mejores razas</a>

</aside>